---
title: Index page
page: home
hero: {
  logo: 'logo',
  text: 'простір для вдосконалення навичок та розвитку  косметологів Вінниці та України.',
  btns: [
    {
      title: 'Хочу на тренінг',
      mod: 'js-popup-open',
      href: false,
      attributes: { 'data-popup-target': 'application' }
    },
    {
      title: 'дізнатися про академію',
      noClass: true,
      mod: 'btn-link js-scroll-to',
      href: '#features'
    }
  ],
  img: '01_03.jpg'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-events.html" %}
  {% include "partials/sections/_s-for-models.html" %}
  {% include "partials/sections/_s-testimonials.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
