$fz:       16px
$fz-sm-px: 14px
$fz-xs-px: 12px
$fz-sm:    0.875em
$fz-xs:    0.75em

$c-text: #9c9c9c
$c-title: #464646
$accent: #edc82e

$black: #000
$black-light: #333333
$white: #fff
$white-dark: #f4f4f4

$gray-lighten: #e6e6e6

$header-height: 150px
$header-pt: 70px
