<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__left">
        <div class="hero__left-top">
          {% if hero.logo %}
          <div class="hero__logo">
            {% if hero.logo === 'logo' %}
            <img class="js-lazy" alt="" src="" width="385" height="" data-src="./img/logo.svg"/>
            {% elseif hero.logo === 'thanks' %}
            <img class="js-lazy" alt="" src="" data-src="./img/check-square.png"/>
            {% endif %}
          </div>
          {% endif %}

          {% if hero.text %}
          <div class="hero__text">{{ hero.text | safe }}</div>
          {% endif %}

          {% if hero.btns %}
          <div class="hero__btns">
            {% for i in hero.btns %}
            <div class="hero__btn">
              {{ mixins.btn(
                title = i.title,
                mod = i.mod,
                href = i.href,
                attributes = i.attributes,
                noClass = i.noClass
              ) }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="hero__social">
          Слідкувати за нами:
          {{ mixins.list(
            name = 'social',
            modifications = { wrap: '', item: '', link: '' },
            list = [              
              { link: mixins.icon('instagram') },
              { link: mixins.icon('facebook') }
            ]
          ) }}
        </div>
      </div>

      <div class="hero__right">
        {% if hero.img %}
          <div class="hero__img img no-animation js-lazy" data-background-image="./img/{{ hero.img }}"></div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- end hero -->