<!-- begin section -->
<section {% if section.id %}id="{{ section.id }}"{% endif %} class="{% if not section.noClass %}section{% endif %}{% if section.mod %} {{ section.mod }}{% endif %} js-section">
  {% if not section.noContainer %}
  <div class="container">
  {% endif %}
    {% if section.title %}
    <div class="section__title">
      <div class="title{% if section.title.mod %} {{ section.title.mod }}{% endif %}">{{ section.title.title or section.title | safe }}</div>
    </div>
    {% endif %}

    {% if section.subttl %}
    <div class="section__subttl">{{ section.subttl | safe }}</div>
    {% endif %}

    {% block content %}{% endblock %}
  {% if not section.noContainer %}
  </div>
  {% endif %}
</section>
<!-- end section -->