{%set
section = {
  noContainer: true,
  id: 'testimonials',
  mod: 'section--dark',
  title: {
    title: 'Відгуки',
    mod: 'title--gray-lighten'
  },
  subttl: 'ми пишаємося своєю школою, тому з гордістю ділимося
відгуками наших клієнтів'
}
%}

{% extends "layouts/_section.html" %}

{% block content %}
<!-- begin testimonials -->
<div class="testimonials slider__wrap slider--testimonials__wrap js-toggle-items">
  <div class="testimonials__slider">
      <div class="slider slider--testimonials js-slider js-toggle-items-slider" data-slider="testimonials">
        {% for i in range(0, 4) %}
        <!-- begin slide -->
        <div class="slide" data-index="{{ i }}">
          <div class="testimonials__img js-lazy" data-background-image="./img/01_13.jpg"></div>
        </div>
        <!-- end slide -->
        {% endfor %}
      </div>
  </div>

  <div class="testimonials__content">
    <div class="container">
      <div class="testimonials__content-in js-toggle-items-content">
        {% for i in range(0, 4) %}
        <div class="testimonials__content-item" data-index="{{ i }}">
          <!-- begin testimonial-content -->
          <div class="testimonial-content">
            <div class="testimonial-content__social">
              {{ mixins.list(
                name = 'social',
                modifications = { wrap: 'social--lg', item: '', link: '' },
                list = [
                  { link: mixins.icon('facebook-filled') }
                ]
              ) }}
            </div>

            <div class="testimonial-content__title">
              <div class="title title--h2 title--gray-lighten">Ольга Луценко</div>
            </div>

            <div class="testimonial-content__text">
              Дякую за організацію площадки такого формату у Вінниці. 
    Вже з нетерпінням чекаю ваших заходів. Впевнена, вони 
    будуть для мене корисними
            </div>
          </div>
          <!-- end testimonial-content -->
        </div>
        {% endfor %}        
      </div>

      <div class="testimonials__controls">
        <button class="slider__prev prev js-slider-prev"><i class="arrow"></i></button>
        <button class="slider__next next js-slider-next"><i class="arrow"></i></button>
      </div>

      <div class="testimonials__btn">
        {{ mixins.btn(
          title = 'Залишити відгук',
          mod = 'btn--white js-popup-open',
          href = false,
          attributes = { 'data-popup-target': 'review' }
        ) }}
      </div>
    </div>
  </div>
</div>
<!-- end testimonials -->
{% endblock %}