.features
  +flex(center, normal, row, wrap)
  margin-left: -15px
  margin-right: -15px
  padding-left: percentage(1/12)
  +lg
    padding-left: 0
  &__item
    padding-left: 15px
    padding-right: 15px
    width: 33.33333%
    margin-bottom: 45px
    opacity: 0
    +xl
      margin-bottom: 30px
    +md
      width: 50%
    +sm
      margin-bottom: 15px
    +xs
      width: 100%

.feature
  $this: &
  +flex()
  +xs
  +hover
    #{$this}__icon
      +image('Circle-hover.png')
  &__icon
    +image('Circle.png')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: contain
    flex: 0 0 110px
    color: #5c5c5c
    .icon
      font-size: 134px    
    +md
      flex: 0 0 100px
      .icon
        font-size: 100px
    +sm
      flex: 0 0 80px
      .icon
        font-size: 80px
  &__content
    padding-top: 60px
    padding-left: 10px
    +xl
      padding-top: 50px
    +lg
      padding-top: 40px
    +md
      padding-top: 30px
    +sm
      padding-top: 15px
    +xs
      padding-top: 10px
  &__title
    font-weight: 700
    font-size: $fz-md
    color: $c-title
  &__text
    font-size: 1.125em