.form
  text-align: center
  &__title
    margin-bottom: 20px
    +md
      margin-bottom: 10px
  &__subttl
    margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__field
    margin-bottom: 40px
    position: relative
    z-index: 1
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px

.input, .textarea
  position: relative
  .icon
    position: absolute
    z-index: 1
    top: .5em
    left: 0
  input, textarea
    border-bottom: 1px solid  $gray-light
    height: 35px
    padding: 0 5px
    padding-left: 25px
    width: 100%
